name: Docker Scout testing of the container images

on:
  schedule:
    - cron: "0 5 * * 1"
  workflow_dispatch:

env:
  registry: unixerius
  image: proxmox-qdevice

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        debianver: [bookworm, trixie]
        platforms: [linux/amd64, linux/arm64]
      fail-fast: false

    permissions:
      contents: read
      packages: read
      attestations: write

    steps:
    - name: Checkout sources
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
      with:
        username: ${{ secrets.DHI_USER }}
        password: ${{ secrets.DHI_TOKEN }}

    - name: Login to Docker Hardened Images registry
      uses: docker/login-action@v3
      if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
      with:
        registry: dhi.io
        username: ${{ secrets.DHI_USER }}
        password: ${{ secrets.DHI_TOKEN }}

    - name: Docker Scout against Docker Hub
      id: docker-scout
      uses: docker/scout-action@v1.18.2
      with:
        command: quickview,cves,recommendations
        image: ${{ env.registry }}/${{ env.image }}:${{matrix.debianver}}
        ignore-unchanged: true
        only-severities: critical,high
        dockerhub-user: ${{ secrets.DHI_USER }}
        dockerhub-password: ${{ secrets.DHI_TOKEN }}

    - name: Docker Scout against GHCR
      id: docker-scout
      uses: docker/scout-action@v1.18.2
      with:
        command: quickview,cves,recommendations
        image: ghcr.io/${{ env.registry }}/${{ env.image }}:${{matrix.debianver}}
        ignore-unchanged: true
        only-severities: critical,high
        github-token: ${{ secrets.GITHUB_TOKEN }}

