name: Docker Image CI

on:
  push:
    branches: [master, testing]
  pull_request:
    branches: [master, testing]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
      with:
        username: ${{ secrets.DHI_USER }}
        password: ${{ secrets.DHI_TOKEN }}

    - name: Login to Docker Hardened Images registry
      uses: docker/login-action@v3
      if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
      with:
        registry: dhi.io
        username: ${{ secrets.DHI_USER }}
        password: ${{ secrets.DHI_TOKEN }}

    - name: Login to GitHub Docker registry
      uses: docker/login-action@v3
      if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push the Docker image
      if: ${{ github.actor != 'dependabot[bot]' && github.event_name != 'pull_request' }}
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: unixerius/proxmox-qdevice:latest
        platforms: linux/amd64,linux/arm64

