name: Docker Scout testing of the container images

on:
  schedule:
    - cron: "* * * * 1"

env:
  registry: unixerius
  image: proxmox-qdevice

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        debianver: [bookworm, trixie]
        platforms: [linux/amd64, linux/arm64]
      fail-fast: false

    permissions:
      contents: read
      packages: read
      attestations: write

    steps:
    - name: Checkout sources
      uses: actions/checkout@v4

    - name: Docker Scout
      id: docker-scout
      uses: docker/scout-action@v1
      with:
        command: quickview,cves,recommendations
        image: ghcr.io/${{ env.registry }}/${{ env.image }}:${{matrix.debianver}}
        ignore-unchanged: true
        only-severities: critical,high
        github-token: ${{ secrets.GITHUB_TOKEN }}

