name: Docker Image CI

on:
  push:
    branches: [testing]
  pull_request:
    branches: [master, testing]

env:
  registry: unixerius
  image: proxmox-qdevice

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        debianver: [bookworm, trixie]
        platforms: [linux/amd64, linux/arm64]

    permissions:
      contents: read
      packages: write
      attestations: write

    steps:
    - name: Checkout sources
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
      with:
        username: ${{ secrets.DHI_USER }}
        password: ${{ secrets.DHI_TOKEN }}

    - name: Login to Docker Hardened Images registry
      uses: docker/login-action@v3
      if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
      with:
        registry: dhi.io
        username: ${{ secrets.DHI_USER }}
        password: ${{ secrets.DHI_TOKEN }}

    - name: Login to GitHub Docker registry
      uses: docker/login-action@v3
      if: ${{ github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork }}
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push the Docker image
      if: ${{ github.actor != 'dependabot[bot]' && github.event_name != 'pull_request' }}
      uses: docker/build-push-action@v6
      with:
        push: true
        provenance: mode=max
        sbom: true
        platforms: ${{matrix.platforms}}
        file: Dockerfile-${{matrix.debianver}}
        tags: |
          ${{ env.registry }}/${{ env.image }}:${{matrix.debianver}}
          ghcr.io/${{ env.registry }}/${{ env.image }}:${{matrix.debianver}}

    - name: Docker Scout
      id: docker-scout
      uses: docker/scout-action@v1
      with:
        command: quickview,cves,recommendations
        image: ghcr.io/unixerius/proxmox-qdevice:latest
        ignore-unchanged: true
        only-severities: critical,high,medium
        github-token: ${{ secrets.GITHUB_TOKEN }}

